body{
    background-color: rgb(55, 36, 36);
    color: black;

}
.savecolorbox{
    text-align:center;
padding-top: 30px;
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 5px;
}